# Auto detect text files and perform LF normalization
* text=auto
Data filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
StoreSales.ipynb filter=lfs diff=lfs merge=lfs -text
Data/train.csv filter=lfs diff=lfs merge=lfs -text
